/* ============= VARIABLES =========== */

:root {
  --dark-black: #1f242d;
  --medium-black: #272d38;
  --light-black: #313846;
  --dark-gray: #b4afad;
  --medium-gray: #dedcdb;
  --white: ##ffffff;
  --dark-black: #1f242d;
  --medium-black: #272d38;
  --light-black: #313846;
}

/* ============= SCROLLBAR STYLES =========== */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--light-black);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8eadd5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-black);
}

/* ============= GENERAL STYLES =========== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
  max-width: 1600px;
  margin: 0 auto;
  background: #fdfcfc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  margin: 0 auto;
  margin-top: 46px;
  max-width: 90%;
  z-index: 999;
  position: relative;
}

section,
aside,
footer {
  margin: 0 auto;
  margin-top: 46px;
  max-width: 90%;
}

/* ============= BACKGROUND SHADOW(CIRCLE) STYLES =========== */

.circle {
  position: absolute;
  width: 679px;
  height: 679px;
  left: calc(50% - 679px / 2 - 601.5px);
  top: -324px;
  background: rgba(142, 173, 213, 0.24);
  filter: blur(306px);
  z-index: -999;
}

/* ============= LOADER STYLES =========== */

.loader {
  margin: 200px auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #8eadd5;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ============= NAVBAR STYLES =========== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}

.nav-item {
  text-transform: lowercase;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #272d38;
}

.nav-link:hover {
  color: #8eadd5;
}

.nav-logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #272d38;
  cursor: pointer !important;
}

/* ============= NAVBAR RESPONSIVE STYLES =========== */

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 5rem);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
  }
  .nav-menu {
    justify-content: center;
    align-items: center;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu.active header {
    overflow: hidden;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ============= MAIN SECTION STYLES =========== */

.main .wrapper {
  min-height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 97px;
}
.main .main-left {
  max-width: 540px;
}
.main .main-left h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-transform: capitalize;
  color: #272d38;
  margin-bottom: 24px;
}
.main .main-left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
  margin-bottom: 39px;
}
.main .main-left a,
.contact .contact-right a {
  background: #8eadd5;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
}
.main .main-left a:hover {
  background: #000;
}
.contact .contact-right a:hover {
  background: #000;
}

.main-right {
  max-width: 450px;
}
.main-right img {
  animation: anim 2s infinite linear;
  animation-fill-mode: backwards;
}
@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ============= MAIN SECTION RESPONSIVE STYLES =========== */

@media (max-width: 1090px) {
  .main .main-left h2 {
    font-size: 50px;
  }
  .main .main-left p {
    font-size: 16px;
  }
  .main .main-left a {
    padding: 10px 25px;
  }
}
@media (max-width: 910px) {
  .main .wrapper {
    margin-top: 90px;
    flex-direction: column;
  }
  .main-right img {
    width: 100%;
  }
  .main .main-left {
    text-align: center;
    max-width: 100%;
    margin-bottom: 8vh;
  }
}
@media (max-width: 600px) {
  .main .main-left h2 {
    font-size: 40px;
  }
  .main .main-left p {
    font-size: 16px;
  }
}

/* ============= COMPANIES SECTION STYLES =========== */

.companies {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 17vh;
  margin-bottom: 136px;
}
.companies .wrapper {
  min-height: 86px;
  background-color: #f6f6f6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.companies p {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: #667085;
}

/* ============= COMPANIES SECTION RESPONSIVE STYLES =========== */

@media (max-width: 910px) {
  .companies {
    max-width: 90%;
  }
  .companies .wrapper img {
    width: 100px;
  }
}
@media (max-width: 750px) {
  .companies .wrapper img {
    width: 90px;
  }
}
@media (max-width: 600px) {
  .companies .wrapper img {
    width: 70px;
    height: 24px;
  }
}

/* ============= BRANDING SECTION STYLES =========== */

.branding .wrapper,
.custome .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branding .wrapper .branding-left,
.custome .wrapper .custome-right,
.contact .wrapper .contact-left {
  max-width: 450px;
}
.branding .wrapper .branding-right h3,
.custome .wrapper .custome-left h3 {
  margin-bottom: 25px;
  max-width: 490px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
  color: #272d38;
}
.branding .wrapper .branding-right p,
.custome .wrapper .custome-left p {
  max-width: 390px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
  margin-bottom: 40px;
}
.branding .wrapper .branding-right a {
  cursor: pointer;
}
.branding-left img {
  animation: anim2 2s infinite ease;
  animation-fill-mode: backwards;
}
@keyframes anim2 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
.custome-right img {
  animation: anim3 2s infinite ease;
  animation-fill-mode: backwards;
}
@keyframes anim3 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ============= BRANDING SECTION RESPONSIVE STYLES =========== */

@media (max-width: 1090px) {
  .branding .wrapper,
  .custome .wrapper,
  .contact .wrapper {
    gap: 30px;
  }
  .branding .wrapper .branding-left img,
  .custome .wrapper .custome-right img,
  .contact .wrapper .contact-left img {
    width: 100%;
  }
  .branding .wrapper .branding-right h3,
  .custome .wrapper .custome-left h3,
  .contact .wrapper .contact-right h3 {
    font-size: 45px;
  }
}

@media (max-width: 910px) {
  .branding .wrapper,
  .contact .wrapper {
    flex-direction: column-reverse;
    gap: 0;
  }
  .custome .wrapper {
    flex-direction: column;
    gap: 0;
  }
  .contact .wrapper {
    padding-top: 56px;
  }
  .branding .wrapper .branding-right,
  .custome .wrapper .custome-left,
  .contact .contact-right {
    text-align: center;
    width: 100%;
    margin-bottom: 8vh;
  }
  .branding .wrapper .branding-right,
  .branding .wrapper .branding-right h3,
  .branding .wrapper .branding-right p,
  .custome .wrapper .custome-left h3,
  .custome .wrapper .custome-left p,
  .contact .contact-right h3,
  .contact .contact-right p {
    text-align: center;
    min-width: 100%;
  }
  .branding .wrapper .branding-right a img,
  .custome .wrapper .custome-left a img {
    transform: rotate(90deg);
  }
}
@media (max-width: 600px) {
  .branding .wrapper .branding-right h3,
  .custome .wrapper .custome-left h3,
  .contact .wrapper .contact-right h3 {
    font-size: 32px !important;
  }
  .branding .wrapper .branding-right p,
  .custome .wrapper .custome-left p,
  .contact .wrapper .contact-right p {
    font-size: 14px !important;
  }
}

/* ============= TESTIMONIAL SECTION STYLES =========== */

.testimonal {
  padding-bottom: 136px;
}
.testimonal .title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
}
.testimonal h1 {
  text-align: center;
  max-width: 437px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #272d38;
}
.testimonal .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.testimonal .wrapper .content {
  background: #f6f6f6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  min-height: 334px;
  padding: 32px 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
.testimonal .wrapper .content:hover {
  background: #8eadd5;
}
.testimonal .wrapper .content:hover .avatar-section p {
  color: #fff;
}
.testimonal .wrapper .content:hover .info-section p {
  color: #fff;
}

.testimonal .wrapper .content .avatar-section p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
}
.testimonal .wrapper .content .avatar-section img {
  margin-bottom: 8px;
  width: 129px;
  height: 130px;
  border: 1px solid rgba(222, 220, 219, 0.5);
  border-radius: 96.5px;
}
.testimonal .wrapper .content .info-section {
  width: 80%;
}
.testimonal .wrapper .content .info-section p {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  text-transform: capitalize;
  color: #272d38;
}

/* ============= TESTIMONIAL SECTION RESPONSIVE STYLES =========== */

@media (max-width: 910px) {
  .testimonal .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonal .wrapper .content {
    width: 49%;
  }
  .testimonal h1 {
    font-size: 40px;
  }
  .testimonal .title {
    font-size: 15px;
  }
}
@media (max-width: 830px) {
  .testimonal .wrapper .content {
    width: 70%;
  }
  .testimonal h1 {
    font-size: 38px;
  }
}
@media (max-width: 600px) {
  .testimonal .wrapper .content {
    width: 100%;
  }
  .testimonal .title {
    font-size: 12px;
  }
  .testimonal h1 {
    font-size: 32px;
  }
  @keyframes anim {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes anim2 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes anim3 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

/* ============= CONTACT SECTION STYLES =========== */

.contact {
  background: #f6f6f6;
  border-radius: 20px;
}
.contact .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact .wrapper .contact-right h3 {
  text-transform: none;
  margin-bottom: 25px;
  max-width: 365px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #272d38;
}
.contact .wrapper .contact-right p {
  max-width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
  margin-bottom: 40px;
}

/* ============= CONTACT SECTION RESPONSIVE STYLES =========== */

@media (max-width: 600px) {
  .contact .wrapper .contact-left {
    display: none;
  }
  .contact .wrapper .contact-right h3,
  .contact .wrapper .contact-right p {
    max-width: none;
    padding: 0 30px;
  }
}
.branding-right .custome-left {
  transition: transform 0.3s ease;
}
.branding-right a:hover img,
.custome-left a:hover img {
  transform: translateX(15px) scale(1.1);
}

/* ============= FOOTER SECTION STYLES =========== */

.footer-section {
  background-color: #f6f6f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer .wrapper {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

footer .wrapper .text {
  display: flex;
  flex-direction: column;
}
footer .wrapper .text:first-child h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
  margin-bottom: 40px;
}
footer .wrapper .text:first-child p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #272d38;
  max-width: 190px;
}
footer .wrapper .text h5 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #272d38;
}
footer .wrapper .text a {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: #272d38;
  transition: 0.1s ease-in;
}
footer .wrapper .text a:hover {
  color: #8eadd5;
}
footer .author {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #272d38;
  padding-bottom: 18px;
}

/* ============= FOOTER SECTION RESPONSIVE STYLES =========== */

@media (max-width: 700px) {
  footer .wrapper {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  footer .wrapper .text:first-child p {
    max-width: none;
  }
  footer .wrapper {
    gap: 50px;
  }
}

/* ============= KEYFRAMES RESPONSIVE STYLES =========== */

@media (max-width: 1000px) {
  @keyframes anim {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes anim2 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes anim3 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
@media (max-width: 400px) {
  @keyframes anim {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(6%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes anim2 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(6%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes anim3 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(6%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
